@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root,
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  --grid-content: 800px;

  --secondary-background-color: rgb(143, 143, 143);
  --primary-background-color: white;
  --cap-background-color: rgb(233, 233, 233);
  --cap-background: linear-gradient(#fff8, #aaa8), linear-gradient(45deg, #0000 30%, #ffff 34%, #0000 45%),
    linear-gradient(45deg, #0000 70%, #ffff 80%, #0000 82%);
  /* --cap-background: rgb(233, 233, 233); */

  --button-color: white;
  --button-roundness: 10px;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-grid {
  display: grid;
  grid-template-columns: auto min(100%, var(--grid-content)) auto;
  grid-template-rows: 80px auto 80px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'header header header'
    'left-side center right-side'
    'footer footer footer';
  width: 100%;
  height: 100%;

  background-color: var(--secondary-background-color);
}

.center {
  grid-area: center;

  background-color: var(--primary-background-color);
}

.header {
  display: grid;
  grid-template-columns: auto min(100%, var(--grid-content)) auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: '. header-center .';
  grid-area: header;

  background-color: var(--secondary-background-color);
}

.header-center {
  grid-area: header-center;

  align-items: center;

  /* background-color: var(--cap-background-color); */
  background: var(--cap-background);
}

.footer {
  display: grid;
  grid-template-columns: auto min(100%, var(--grid-content)) auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: '. footer-center .';
  grid-area: footer;

  background-color: var(--secondary-background-color);
}

.footer-center {
  grid-area: footer-center;

  /* background-color: var(--cap-background-color); */
  background: var(--cap-background);
}

.right-side {
  grid-area: right-side;

  background-color: var(--secondary-background-color);
}

.left-side {
  grid-area: left-side;

  background-color: var(--secondary-background-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.fill {
  flex-grow: 1;
}

.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.js-left {
  justify-self: start;
}

.js-right {
  justify-self: end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.bg-red {
  background-color: rgb(238, 144, 144);
}

.bg-green {
  background-color: rgb(147, 238, 144);
}

.bg-yellow {
  background-color: rgb(236, 209, 133);
}

.bg-blue {
  background-color: rgb(144, 169, 238);
}

.bg-gray {
  background-color: rgb(182, 182, 182);
}

.bold {
  font-weight: bold;
}

.nobreak-contents * {
  white-space: nowrap;
}

.nobreak {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

a.divvy {
  text-decoration: none;
  color: inherit;
}

/* -------------------- */

header {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

header button,
header .a-button {
  justify-self: left;
  position: absolute;
}

header .title {
  text-align: center;
  height: 100%;
  margin: 0;
}

header button img,
header .a-button img {
  height: 20px;
  margin: -6px;
  margin-right: 0px;
}

main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}

/* -------------------- */

input:focus {
  outline: 1px solid #45fa;
}

button,
.a-button {
  background-color: var(--button-color);
  border-radius: var(--button-roundness);
  padding: 10px 20px;
  margin: 0;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: 2px solid black;

  box-shadow: 0;
  transition: all 0.1s;

  user-select: none;
}

button:hover,
.a-button:hover {
  box-shadow: 2px 2px 4px #3338;
  border-color: #888c;
  cursor: pointer;
}

button:active,
.a-button:active {
  box-shadow: 1px 1px 2px inset #333a;
  filter: brightness(0.9);
}
